@page {
    size: A4 portrait;
    margin: 10mm;
}

@media all{
    size: A4 portrait;
    margin: 10mm;

    .lead {
        font-size: 1em;
    }

    h1 {
        font-size: 1.90rem;
    }

    h2 {
        font-size: 1.70rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1.25rem;
    }

    p,
    li {
        font-size: 1.05rem;
    }

    footer p {
        font-size: 0.95rem;
    }

    header {
        text-align: center;
    }

    footer {
        padding: 5px;
    }

    section,
    footer,
    img,
    main,
    header {
        border: 1px solid grey;
        padding: 5px;
        margin: 10px 5px;
        border-radius: 16px;
    }

    .progress {
        height: 32px;
        margin: 2px;
        background-color: white;
        border: solid 1px grey;
    }

    p {
        margin: 3px;
    }

    hr {
        margin: 6px;
        border-width: 2px;
    }
}